In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [40]:
os.chdir(r"C:\Users\bit\Desktop\머신러닝 알고리즘과 응용 2\data")

In [41]:
# df = pd.read_csv('data_studentlist_en.csv', header='infer',encoding='ISO-8859-1')
df = pd.read_csv('data_kbo2015.csv', header='infer',encoding = 'latin1')

In [42]:
df.shape

(10, 26)

In [43]:
df.info

<bound method DataFrame.info of    ranking     team    AVG    G    PA    AB    R     H   2B  3B  ...    IBB  \
0        1  Samsung  0.300  102  4091  3553  634  1066  188  19  ...     15
1        2    Nexen  0.300  102  4151  3620  658  1085  227  12  ...     13
2        3   Doosan  0.291   99  3950  3410  570   991  176  16  ...     17
3        4       NC  0.288  101  3994  3485  591  1002  205  20  ...     17
4        5    Lotte  0.277  104  4082  3557  545   985  176  14  ...     16
5        6       SK  0.276   99  3888  3373  476   931  146   9  ...     12
6        7   Hanhwa  0.270  102  4037  3404  504   919  162  13  ...     23
7        8       kt  0.270  102  3988  3498  466   944  161  13  ...     13
8        9       LG  0.259  103  3984  3491  458   905  171  16  ...     17
9       10      KIA  0.256  100  3835  3362  469   861  161  14  ...     11

   HBP   SO  GDP    SLG    OBP    OPS   MH   RISP  PH-BA
0   47  650   78  0.471  0.374  0.845  101  0.300  0.216
1   61  815   79  0.498  0.374  0.872  100  0.294  0.268
2   66  544   95  0.438  0.368  0.806   98  0.284  0.262
3   74  717   65  0.453  0.362  0.815  101  0.296  0.274
4   57  866  105  0.444  0.356  0.800  104  0.272  0.190
5   63  720   73  0.406  0.355  0.761   99  0.277  0.236
6   86  780   78  0.397  0.360  0.757  102  0.264  0.196
7   47  799   75  0.398  0.343  0.741  101  0.259  0.243
8   57  803   68  0.389  0.334  0.723  103  0.238  0.231
9   69  778   68  0.397  0.332  0.729  100  0.260  0.214

[10 rows x 26 columns]>

In [44]:
df.columns

Index(['ranking', 'team', 'AVG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'TB', 'RBI', 'SAC', 'SF', 'BB', 'IBB', 'HBP', 'SO', 'GDP', 'SLG', 'OBP',
       'OPS', 'MH', 'RISP', 'PH-BA'],
      dtype='object')

In [45]:
df

,ranking,team,AVG,G,PA,AB,R,H,2B,3B,...,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,1,Samsung,0.300,102,4091,3553,634,1066,188,19,...,15,47,650,78,0.471,0.374,0.845,101,0.300,0.216
1,2,Nexen,0.300,102,4151,3620,658,1085,227,12,...,13,61,815,79,0.498,0.374,0.872,100,0.294,0.268
2,3,Doosan,0.291,99,3950,3410,570,991,176,16,...,17,66,544,95,0.438,0.368,0.806,98,0.284,0.262
3,4,NC,0.288,101,3994,3485,591,1002,205,20,...,17,74,717,65,0.453,0.362,0.815,101,0.296,0.274
4,5,Lotte,0.277,104,4082,3557,545,985,176,14,...,16,57,866,105,0.444,0.356,0.800,104,0.272,0.190
5,6,SK,0.276,99,3888,3373,476,931,146,9,...,12,63,720,73,0.406,0.355,0.761,99,0.277,0.236
6,7,Hanhwa,0.270,102,4037,3404,504,919,162,13,...,23,86,780,78,0.397,0.360,0.757,102,0.264,0.196
7,8,kt,0.270,102,3988,3498,466,944,161,13,...,13,47,799,75,0.398,0.343,0.741,101,0.259,0.243
8,9,LG,0.259,103,3984,3491,458,905,171,16,...,17,57,803,68,0.389,0.334,0.723,103,0.238,0.231
9,10,KIA,0.256,100,3835,3362,469,861,161,14,...,11,69,778,68,0.397,0.332,0.729,100,0.260,0.214

In [46]:
df.describe()

,ranking,AVG,G,PA,AB,R,H,2B,3B,HR,...,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
count,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,5.50000,0.278700,101.400000,4000.000000,3475.300000,537.100000,968.900000,177.300000,14.600000,105.900000,...,15.400000,62.700000,747.200000,78.400000,0.429100,0.355800,0.784900,100.900000,0.274400,0.233000
std,3.02765,0.015671,1.646545,95.382272,86.381647,73.662066,70.728668,23.898164,3.272783,24.223267,...,3.470511,11.935475,93.643295,12.562731,0.037335,0.015179,0.050564,1.791957,0.019688,0.029303
min,1.00000,0.256000,99.000000,3835.000000,3362.000000,458.000000,861.000000,146.000000,9.000000,82.000000,...,11.000000,47.000000,544.000000,65.000000,0.389000,0.332000,0.723000,98.000000,0.238000,0.190000
25%,3.25000,0.270000,100.250000,3958.500000,3405.500000,470.750000,922.000000,161.250000,13.000000,88.250000,...,13.000000,57.000000,717.750000,69.250000,0.397250,0.346000,0.745000,100.000000,0.261000,0.214500
50%,5.50000,0.276500,102.000000,3991.000000,3488.000000,524.500000,964.500000,173.500000,14.000000,96.500000,...,15.500000,62.000000,779.000000,76.500000,0.422000,0.358000,0.780500,101.000000,0.274500,0.233500
75%,7.75000,0.290250,102.000000,4070.750000,3539.250000,585.750000,999.250000,185.000000,16.000000,122.750000,...,17.000000,68.250000,802.000000,78.750000,0.450750,0.366500,0.812750,101.750000,0.291500,0.257250
max,10.00000,0.300000,104.000000,4151.000000,3620.000000,658.000000,1085.000000,227.000000,20.000000,155.000000,...,23.000000,86.000000,866.000000,105.000000,0.498000,0.374000,0.872000,104.000000,0.300000,0.274000

In [58]:
X = np.array(df.H)
X

array([1066, 1085,  991, 1002,  985,  931,  919,  944,  905,  861],
      dtype=int64)

In [59]:
header = data['feature_names']

NameError: name 'data' is not defined

In [60]:
Y = np.array(df.HR)
Y = Y.reshape(-1, 1)
Y

array([[127],
       [155],
       [ 98],
       [110],
       [130],
       [ 92],
       [ 82],
       [ 87],
       [ 83],
       [ 95]], dtype=int64)

In [50]:
lm = LinearRegression()

In [51]:
lm.fit(X,Y)

NameError: name 'Y' is not defined

In [52]:
lm.coef_

AttributeError: 'LinearRegression' object has no attribute 'coef_'

In [53]:
lm.intercept_

AttributeError: 'LinearRegression' object has no attribute 'intercept_'

In [54]:
R2=lm.score(X,Y)
R2

NameError: name 'Y' is not defined

In [55]:
corr = np.sqrt(R2)

NameError: name 'R2' is not defined

In [56]:
np.corrcoef(X,T,Y,T)

NameError: name 'T' is not defined

In [57]:
df.HR.corr(df.H)

0.8384116023098118